modules = ["cpp-clang14"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Run Knight Solver"

[[workflows.workflow]]
name = "Run Knight Solver"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "clang++ -std=c++17 -o proj4 proj4.cpp && ./proj4"

[workflows.workflow.metadata]
outputType = "console"
